* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* HEADER */
header {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px; 
  box-sizing: border-box;
  position: relative;
}

/* LOGO */
.logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

/* NAV COMMON */
header nav {
  display: flex;
  gap: 56px; 
}

header nav a {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #313D65;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
}

header nav a:hover {
  opacity: 0.6;
}

/* LEFT & RIGHT ALIGN */
.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}


/* FOOTER WRAPPER */
.footer-logo{
	display:grid;
	grid-template-columns:auto 1fr 1fr;
	margin-bottom: 40px;
}
/* FOOTER LOGO */
.footer-logo img {
  width: 450px;
  margin-left: 50px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-left: 80px;
}

.footer-link {
  font-size: 20px;
  font-weight: 400;
  color: #2C365A;
  text-decoration: none;
  transition: opacity 0.2s;
}

.footer-link:hover {
  opacity: 0.6;
}

/* SOCIAL BLOCK */
.social-block {
  display: flex;
  flex-direction: column;
  margin-left: 180px;
}

.follow-us {
  font-size: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #2C365A;
  margin-bottom: 14px;
}

/* ICON ROW */
.social-icons {
  display: flex;
  gap: 40px;
  font-size: 40px;
  color: #2C365A;
}

.social-icons i {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.social-icons i:hover {
  opacity: 0.6;
}

.footer-right {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

/* FOOTER INFO SECTION */
.footer-info {
  width: 100%;
  max-width: 1300px;
  margin: -20px auto 0 auto;
  padding: 15px 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  color: #2C365A;
}

.footer-left span {
  margin-right: 25px;
  white-space: nowrap;
}

.footer-right-text span {
  white-space: nowrap;
  font-weight: 370;
}